{% extends "administrador/boleteriaBase.html" %}
{% block tittle %}Detalle de sala{% endblock %}
{% block content %}
<script type=text/javascript>let peekar = "{% url "peekar" sala.id %}" </script>
<script type="text/javascript">let a="{% url "adminSalas" %}" </script>
  <p class="font-weight-bold align-middle" id="sala">Sala: {{sala.nombre}}
    <button id="peekar" type="button" class="far fa-eye btn btn-outline-secondary"></button>
  </p>
  <p id="numeroSala">Número de sala: {{sala.numero_sala}}</p>
  <p id="filas">Filas: {{sala.numero_filas}}</p>
  <p id="columnas">Columnas: {{sala.numero_columnas}}</p>
  <p id="numeroAsientos">Número de asientos: {{sala.numero_asientos}}</p>
  <p id="clase">Clase: {{sala.clase}}</p>
  <p id="boleteria">Boleteria: {{sala.boleteria}}</p>
  <br>
  <a href="{% url 'adminEditarSala' sala.id %}" class="btn btn-primary"><span class="fas fa-edit"></span> Editar</a>
  <a href="{% url "adminSalas" %}" class="btn btn-primary"><span class="fas fa-undo"></span> Regresar</a>
    {% csrf_token %}
    <button type="buttom" class="btn btn-danger" style="margin-left:30px" id="eliminarSala">
      <span class="fa fa-trash"></span> Eliminar</a>
    </button>

  <script type="text/javascript" defer>
    let botonPeek=document.getElementById("peekar");
    botonPeek.addEventListener("click",function(){
      window.open(peekar,"","width=640,height=480","status=0","toolbar=0","menubar=0","location=0");
    });

    let botonEliminar=document.getElementById("eliminarSala");
    botonEliminar.addEventListener("click",function(){
      bootbox.confirm({
        centerVertical:"True",
        title: "Confirmación",
        message: "¿Estás seguro que deseas eliminar ésta sala del cine {{sala.boleteria}}?",
        buttons: {
            cancel: {label: '<i class="fa fa-times"></i> Cancelar'},
            confirm: {label: '<i class="fa fa-check"></i> Confirmar'}
        },
        callback: function (result) {
            if (result){
              let token = $('input[name=csrfmiddlewaretoken]').val();
              $.ajax({
                url: "{%url "adminEliminarSala" %}",
                type: "POST",
                data : {
                  csrfmiddlewaretoken: token,
                  mensaje: {{sala.id}},
                },
                //dataType: "json",
                success: function (msg) {
                  let mensaje;
                  switch (msg){
                    case "1":mensaje="¡Sala eliminada con éxito!";break;
                    case "0":mensaje="¡No ha sido posible eliminar la sala!";break;
                    case "-1":mensaje="¡Sala no encontrada para eliminar!";break;
                  }
                  bootbox.alert({
                     size: "small",
                     centerVertical:"True",
                     tittle: "Confirmación",
                     message: mensaje,
                     callback: function(){if (msg=="1")window.location.href=a;}
                 })
                },
                error: function (msg, textStatus, errorThrown) {alert("fail");}
              });
            }
          }
      });
    });
  </script>
{% endblock %}
