{% extends "administrador/boleteriaBase.html" %}
{% block tittle %}Datos de la película{% endblock %}
{% block content %}
  <script type="text/javascript">let a="{% url "adminPeliculas" %}" </script>

  <style>
    img{
      width:300px;
    }
  </style>

  <br>
  <center>
    <div class="container row">
      <div class="col text-justify">
        <p id="nombre">Nombre: <b>{{pelicula.nombre}}</b></p>
        <p id="pais">Pais: {{pelicula.pais}}</p>
        <p id="anyo">Año: {{pelicula.anyo}}</p>
        <p id="duracion">Duracion: {{pelicula.duracion}} minutos</p>
        <p id="sinopsis">Sinopsis:<br>"<i>{{pelicula.sinopsis}}</i>"</p>
        <p id="clasificacion">Clasificacion: {{pelicula.clasificacion}}</p>
        <p id="boleteria">Boleteria: {{pelicula.boleteria}}</p>
        <p id="exhibicion">Estado de exhibición:
          {% if pelicula.exhibicion == "exh" %}
            <span class="far fa-check-circle text-success"> En exhibición</span>
          {% elif pelicula.exhibicion == "ina" %}
            <span class="far fa-times-circle text-danger"> Fuera de exhibición</span>
          {% else %}
            <span class="fas fa-circle-notch text-info fa-spin"></span><span class="text-info"> Proximamente</span>
          {% endif %}
        </p>
        <br><br>
        <center>
          <a href="{% url "adminEditarPelicula" pelicula.id %}" class="btn btn-primary"><span class="fas fa-edit"></span> Editar</a>
          <a href="{% url "adminPeliculas" %}" class="btn btn-primary"><span class="fas fa-undo"></span> Regresar</a>
          {% csrf_token %}
          <button type="buttom" class="btn btn-danger" style="margin-left:30px" id="eliminarPeli">
            <span class="fa fa-trash"></span> Eliminar
          </button>
          <p></p>
        </center>
      </div>
      <div class="col">
        {% if pelicula.imagen %}
          <img src="{{pelicula.imagen.url}}">
        {% else %}
          <p class="fas fa-film" style="font-size:150px;"></p>
          <p style="font-size:20px;">Sin Imagen</p>
        {% endif %}
      </div>
    </div>
  </center>

  <script type="text/javascript" defer>
    let botonEliminar=document.getElementById("eliminarPeli");
    botonEliminar.addEventListener("click",function(){
      bootbox.confirm({
        centerVertical:"True",
        title: "Confirmación",
        message: "¿Estás seguro que deseas eliminar ésta película?",
        buttons: {
            cancel: {label: '<i class="fa fa-times"></i> Cancelar'},
            confirm: {label: '<i class="fa fa-check"></i> Confirmar'}
        },
        callback: function (result) {
            if (result){
              let token = $('input[name=csrfmiddlewaretoken]').val();
              $.ajax({
                url: "{%url "adminEliminarPelicula" %}",
                type: "POST",
                data : {
                  csrfmiddlewaretoken: token,
                  mensaje: {{pelicula.id}},
                },
                //dataType: "json",
                success: function (msg) {
                  let mensaje;
                  switch (msg){
                    case "1":mensaje="Función eliminada con éxito!";break;
                    case "0":mensaje="¡No ha sido posible eliminar la función!";break;
                    case "-1":mensaje="Función no encontrada para eliminar!";break;
                  }
                  bootbox.alert({
                     size: "small",
                     centerVertical:"True",
                     tittle: "Confirmación",
                     message: mensaje,
                     callback: function(){if (msg=="1")window.location.href=a;}
                 })
                },
                error: function (msg, textStatus, errorThrown) {alert("fail");}
              });
            }
          }
      });
    });
  </script>
{% endblock %}
