{% extends "administrador/boleteriaBase.html" %}
{% block tittle %}Administración de boleterias{% endblock %}
{% block content %}
<style>
  .card-img-top{
    height: 180px;
    width:auto;
    max-width:100%;
    margin-top:5px;
    display:block;
  }
  .card{
    width: 18rem;
    display:inline-block;
    margin: 3px 2px 4px 2px;
  }
</style>

{% csrf_token %}

<div class="row">
  <div class="col-md-auto text-center"><h2>Administración de boleterías</h2></div>
  <div class="col-md-auto text-center"><a href="{% url 'adminCrearBoleteria' %}" class="btn btn-primary"><span class="fas fa-kaaba"></span> Crear Boletería</a></div>
</div>
<br><br>
<center>
  <div class="container " style="display: block;">
    {% for boleteria in boleterias %}
      <div class="card">
        {% if boleteria.logo %}
          <center>
            <img class="card-img-top" src="{{boleteria.logo.url}}">
          </center>
        {% else %}
        <div class="container bg-secondary text-white" style="height: 180px;">
          <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <div class="text-center">Sin imagen</div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{boleteria.nombre}}</h5>
          <p class="card-text">
          {% if boleteria.eslogan %}
            <i>"{{boleteria.eslogan}}"</i>
          {% else %}
            <i>- Sin eslogan -</i>
          {% endif %}
          </p>
        </div>
        <div class="card-body">
          <center>
            <a href="{%url "adminEditarBoleteria" boleteria.id %}" class="btn btn-primary"><span class="fas fa-edit"></span> Editar</a>
            <button type="buttom" class="btn btn-danger" style="margin-left:30px" onclick="delBol({{boleteria.id}})">
              <span class="fa fa-trash"></span> Eliminar</a>
            </button>
          </center>
        </div>
      </div>
    {% empty %}
      <div class="col-md-auto box">
        <span class="alert alert-secondary">No hay boleterías registradas</span>
      </div>
    {% endfor %}
  </div>
</center>

<script type="text/javascript" defer>
  function delBol(id){
    bootbox.confirm({
      centerVertical:"True",
      title: "Confirmación",
      message: "¿Estás seguro que deseas eliminar la boletería {{boleteria.nombre}}?",
      buttons: {
          cancel: {label: '<i class="fa fa-times"></i> Cancelar'},
          confirm: {label: '<i class="fa fa-check"></i> Confirmar'}
      },
      callback: function (result) {
          if (result){
            let token = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
              url: "{%url "adminEliminarBoleteria" %}",
              type: "POST",
              data : {
                csrfmiddlewaretoken: token,
                mensaje: id,
              },
              //dataType: "json",
              success: function (msg) {
                let mensaje;
                switch (msg){
                  case "1":mensaje="¡Boleteria eliminada con éxito!";break;
                  case "0":mensaje="¡No ha sido posible eliminar la ¡Boleteria!";break;
                  case "-1":mensaje="¡Boleteria no encontrada para eliminar!";break;
                }
                bootbox.alert({
                   size: "small",
                   centerVertical:"True",
                   tittle: "Confirmación",
                   message: mensaje,
                   callback: function(){if (msg=="1")location.reload();}
               })
              },
              error: function (msg, textStatus, errorThrown) {alert("fail");}
            });
          }
        }
    });
  }
</script>

{% endblock %}
