{% extends "administrador/adminBase.html" %}
{% block tittle %}Editar sala{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-auto text-center"><h2>Edición de sala "{{form.nombre.value}}"</h2></div>
  </div>
  <br><br>
  <form action="" method="post">{% csrf_token %}
    {% include "administrador/adminFormTemplate.html" %}
    <button type="submit" class="btn btn-success"><span class="fas fa-save"></span> Guardar</button>
    <a href="{% url "adminSalas" %}" class="btn btn-primary" style="margin-left:50px"><span class="fas fa-undo"></span> Regresar</a>
  </form>
{% endblock %}
