{% extends "base.html" %}
{% load static %}


{% block tittle %}
    Dulceria
{% endblock tittle %}
    
{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/dulceria.css' %}">
{% endblock stylesheets %}
        

{% block content %}
<div class="container-dulceria">
        <div class="tagtexto">Golosinas</div>
        <div class="seccion2">
                <!--Aqui va el for de cada golosina de la dulceria-->
                
                {% for golosina in golosinas %}
                    <div class="golosina-detalle">
                        <div class="golosina-img">
                            <img src="" alt="">
                        </div>
                        <div class="g-detalle-item">{{golosina.nombre}}</div>
                        <div class="g-detalle-item">$ {{golosina.precio}}</div>
                        <!--escribir en lugar de funcion() el nombre de la funcion que se activa al hacer click-->
                        <a href="{% url 'dulceria:dulce' golosina.id %}" class="btn btn-primary">Comprar</a>
                    </div>
                {% empty %}
                      
                {% endfor %}
                <!--Aqui termina el for de cada golosina de la dulceria-->
        </div>
        <div class="tagtexto">Combos</div>
        <div class="seccion">
            <!--Aqui va el for de cada combo de la dulceria-->
            
            {% for combo in combos %}
                <div class="combo-detalle">
                    <div class="combo-img">
                        <img src="img/combo1.jpg" alt="">
                    </div>
                    <div class="combo-listado">
                        <div class="combo-detalles"  style="height: 60px">
                            <div class="detalle-item"> {{combo.nombre}} </div>
                            <div class="detalle-item"> {{combo.descripcion}} </div>
                            <div class="detalle-item">Precio $ {{combo.precio}}</div>
                            <!--escribir en lugar de funcion() el nombre de la funcion que se activa al hacer click-->
                        <a href="{% url 'dulceria:combo' combo.id %}" class="btn btn-primary">Comprar</a>                        
                        </div>        
                    </div>
                </div>

            {% empty %}
                
            {% endfor %}     
    </div>
    </div>
            <script src="js/jquery-3.4.1.min.js"></script>
            <script src="js/popper.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
{% endblock content %}
