{% extends "base.html" %}

{% block title %}
    {{funcion.pelicula.nombre}}
{% endblock title %}
{% block content %}
    <div class="container-fluid bg-dark" style="color: white">
        <h3>{{funcion.pelicula.nombre}}</h3>
        <div class="row">
        <div class="col-4">
            <img src="{{funcion.pelicula.imagen.url}}" class="img-fluid " height=600 width="400" alt="">
        </div>
        <div class="col-8">
            <p>Sinopsis : {{funcion.pelicula.sinopsis}}</p>
            <p>Pais : {{funcion.pelicula.pais}}</p>
            <p>Año : {{funcion.pelicula.anyo}}</p>
            
            <form method="POST">
                {% csrf_token %}
                    <br>
                    <fieldset class="form-group row">
                        <legend class="col-form-legend col-sm-12">Compra tus boletos</legend>
                        <div class="col-sm-12">
                                <div class="form-group row justify-content-center">
                                    <div class="col-sm-4">
                                    <label for="adultos">Adultos</label>
                                    <input type="number" class="form-control" value=0 name="adultos" id="adultos" placeholder="">
                                </div>
                            </div>

                            <div class="form-group row justify-content-center">
                                <div class="col-sm-4">
                                    <label for="ninos">Ninos</label>
                                    <input type="number" class="form-control" value=0 name="ninos" id="ninos" placeholder="">
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                    <div class="col-sm-4">
                                        <label for="mayores">Adultos Mayores</label>
                                        <input type="number" class="form-control" value=0 name="mayores" id="mayores" placeholder="">
                                    </div>
                                </div>
                        </div>
                    </fieldset>
                    <div class="form-group row justify-content-sm-center">
                        <div class="">
                            <button type="submit" id="selectButaca" class="btn btn-primary" disabled="">Seleccionar Butacas</button>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>


<script type="text/javascript" defer>

</script>
<script src="/static/js/validacionFuncion.js" defer></script>
{% endblock content %}
