<!DOCTYPE html>
    <head>
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/cartelera.css"> 
        <link rel="stylesheet" href="css/boletos.css">
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Ticketing</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="cartelera.html">Cartelera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Promociones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Dulceria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Carrito</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav" style="font-size: 20px">
                        <li style="float:right" class="crono nav-link">00:00</li>
                        <li class="cuentacarrito nav-link">0</li>
                    </ul>
                </div>
            </nav>

        <!-- Peliculas en exhibicion Cards-->
        <div class="carta-funcion">
            <div class="funcion-imagen">
                <img src="img/Aladdin.jpg" alt=""><!--Imagen de la pelicula-->
            </div>
            <div class="funcion-detalles">
                <div class="pelicula-detalle"> <!--detalle de pelicula-->
                    <h3>Titulo de la pelicula</h3>
                    <h5>Duracion.</h5>
                    <h5>Calsificacion</h5>
                    
                </div>
                <div class="funciones-detalle">
                    <header>fuciones del dia</header> <!--horas de funciones de la pelicula-->
                    <div class="contenedor-boletos">
                            <div class="tipo-boleto">
                                <span class="tipo-boleto-addon">Boletos para Adulto</span>
                                <input type="number" name="quantity" min="0" max="5" class="tipo-boleto-num">
                            </div>
                            <div class="tipo-boleto">
                                <span class="tipo-boleto-addon">Boletos para Niño</span>
                                <input type="number" name="quantity" min="0" max="5" class="tipo-boleto-num">
                            </div>
                            <div class="tipo-boleto">
                                <span class="tipo-boleto-addon">Boletos para Adulto Mayor</span>
                                <input type="number" name="quantity" min="0" max="5" class="tipo-boleto-num">
                            </div>
                            <div class="btn btn-primary btn-block" >
                                <a href="butacas.html">Seleccionar Butaca</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
            
        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
            
    </body>
</html>