<!DOCTYPE html>
    <head>
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css"> 
        
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Ticketing</a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link " href="cartelera.html">Cartelera</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">Promociones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Dulceria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Carrito</a>
                        </li>
                        <li style="float:right" class="crono nav-link">00:00</li>
                        <li class="cuentacarrito nav-link">0</li>
                    </ul>
                </div>
            </nav>

<!-- Peliculas en exhibicion Cards-->
    <div class="container-fluid">
            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" src="img/JohnWick.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-danger">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae atque numquam, rem similique dolores dolorem, optio ipsum iure illo exercitationem unde consectetur animi. Ullam ea expedita corporis quia soluta nemo.</p>
                    <form action="">
                        <div class="formgroup"></div>
                            <label for="">Boletos Adulto</label><button>-</button>
                            <input type="text" name="" id=""><button>+</button>
                            <br>
                            <input type="submit" value="seleccionar butacas">
                    </form>
                </div>
            </div>
    </div>

        <script src="js/jquery-3.4.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
            
    </body>
</html>