<script type="text/javascript">let carritoBorrar={% url "borrarCarritoJS" %}</script>
<script type="text/javascript">let numCarrito={% url "getNumCarrito" %}</script>
{% csrf_token %}
<script type="text/javascript"> let token = $('input[name=csrfmiddlewaretoken]').val();</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Ticketing</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'boleteria:cartelera' %}">Cartelera</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Promociones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Dulceria</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item"><a class="nav-link" id="temporizador" hidden="">Tiempo Restante: </a></li>
          <li class="nav-item">
              <b><a id="timer" class="nav-link" hidden="">00:00</a></b>
          </li>
          <li class="nav-item"><a class="nav-link" id="leSeparatorTime" hidden=""> | </a></li>
          <li class="nav-item">
              <a class="nav-link" href="#"><span class="carritoN" id="carritoN">0</span>
                <span class="fas fa-shopping-cart"></span> Carrito
            </a>
          </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    $.ajax({
      url: numCarrito,
      type: "POST",
      data : {
        csrfmiddlewaretoken: token,
      },
      success: function (msg) {
          document.getElementById("carritoN").textContent=msg;
      },
      error: function (msg, textStatus, errorThrown) {alert("fail");console.log(msg);console.log(textStatus);console.log(errorThrown);}
    });
</script>
<script src="/static/js/timer.js" defer></script>
